.App {
  border: 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
  align-items: center;
}


.main-header{
  margin-top: 0px;
  width: 100%;
  position: fixed;
  
}


.app-heart{
  width:60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 100px;
}





li{
  list-style: none;
}

.main-header{
  background-color: black;
  height: 80px;
  top: 0px;
  width: 100%;
  
}

.title{
  color: yellow;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 44px;
  margin-top: 10px;
}

.total-section{
  background-color: black;
  bottom: 0;
  height: 80px;
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  position: fixed;
  margin-top: auto;
  
}
.total-statement{
  color: yellow;
  font-size: 44px;
  display: block;
  margin-right: auto;
  margin-left: auto;
 
}
.minta{
  color: blue;
  float:right ;
}

.minta-img{
  height:70px;
  width:120px;
  float: left;
  margin-left: 10px;
}